# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib/*
!js/lib/*
^[Ll]ib64
^[Ll]ocal
^[Ss]cripts
[Ss]hare
[Ee]tc
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__
.history
.DS_Store
.vscode
# Windows Crap
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Mac Crap
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Project Crap
build/
dist/
*.log
*.bin
romfiles/
*.z64
*.z64.zip
*.n64
*.n64.zip
*.v64
*.v64.zip
*.debug/

release/
# dont need to commit psd files and that crap
dumps/
web/design

# js crap
node_modules/

.data