# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__
.history
*.z64
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Windows Crap
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Mac Crap
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Project Crap
build/
dist/
*.log
*.bin